/JavaApplication10/nbproject/private/
/JavaApplication10/build/
/Cubes and Squares and Powers/nbproject/private/
/Cubes and Squares and Powers/build/
/Culminating/nbproject/private/
/Culminating/build/